body {
    background-color: rgb(162, 162, 162);
}
img {
    width: 100%;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
}
.flex-item {
    Flex: 1
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

header nav li {
    display: inline;
}

header img {
    width: 120px;
}

header input{
    border-radius: 5px;
    padding: 10px;
    width: 120px;
}

video {
    width: 100%;
}


image{
    size: 5px;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}
img {
    display: block;
    width: 100%;
    aspect-ratio: 5 / 6;
    object-fit: cover;
}
figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
 color: rgb(255, 170, 0);
}
section {
    margin-bottom: 2ch;
    padding: ;
}
#membership .flex-item {
    padding: cm;
}
.higlight {
    background-color: blueviolet;
}
.membership {
    background-image: url

.flex-container
{
    im
    
}
#span .h3{color: aquamarine;}
img

{size: 10px;}
    